.login{
    padding: 20px;
    
}

.form{
    background-color: rgba(53, 53, 53, 0.5);
    margin: 50px;
    padding: 40px;
    border-radius: 10px;
    /* opacity: 0.5; */
    color: black ;

}
#login{
    color: black ;
}

#login_btn{
    margin: 15px 0  !important;
    color: beige;
}