.tabla {
    background-color: rgba(53, 53, 53, 0.5);
    margin: 50px;
    padding: 40px;
    border-radius: 10px;
}

.table {
    border-radius: 10px !important;
}

#tabla {
    border-radius: 10px !important;
    font-family: Lora !important;
}



.btn {
    font-family: Lora !important;
    margin: 5px !important;
}

.modal {
    font-family: Lora !important;
}


.rounded-table th:hover,
.rounded-table td:hover {
    background-color: #f0f0f0;
}